@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Roboto:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-image: url(./images/header_bg.svg), url(./images/mob-header.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top 20px left -195px, top 480px right -80px;
  background-color: #191765;
  color: #c8c8d4;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1.75rem;
  font-size: 1.25rem;
  max-height: 100vh;
  width: 100%;
}

.link,
.hide {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  width: 100%;
}

.menu-icon {
  cursor: pointer;
}

.header a {
  color: #fff;
  font-size: 1.125rem;
}

.robo-head {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

ul {
  list-style-type: none;
}

.container {
  width: 100%;
  padding: 1.5rem;
  margin: 0 auto;
}

.main-intro {
  text-align: center;
  max-width: 375px;
  margin: 0 auto;
}

.theme {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  color: #7d73fc;
  letter-spacing: 0.35px;
  line-height: 4.25rem;
  text-align: center;
}

.sub-theme {
  font-size: 2rem;
  line-height: 2.75rem;
  color: #edecff;
  margin: 16px 0 50px 0;
}

.text {
  margin: 24px 0 40px 0;
}

.white {
  border: 1px solid #646369;
  margin: 40px 0;
}

.skills-div {
  display: flex;
  flex-wrap: wrap;
  max-width: 375px;
  margin: 0 auto;
  gap: 0.5rem;
}

.briefs p {
  color: #dcdce8;
}

.skills-div > div > p {
  font-size: 0.75rem;
  color: #9490ff;
  letter-spacing: 0.03rem;
  margin-bottom: 1.25rem;
}

.media {
  width: 100%;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: center;
  width: 100%;
}

.media img {
  max-width: 20px;
  height: auto;
}

.skills-div > div > ul {
  font-size: 0.95rem;
  line-height: 2rem;
}

.language,
.frameworks {
  min-width: 140px;
}

.cursor {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  gap: 0.65rem;
  color: #a2a3ae;
  height: 20px;
  align-items: center;
}

#works-section {
  background-image: url(./images/top_left.svg), url(./images/center_bg.svg), url(./images/blur_bg.svg), url(./images/bottom_bg.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top 250px left -120px, top 1000px right -150px, -80px 1800px, top 2550px right -300px;
}

.recent-works {
  font-size: 2.5rem;
  line-height: 3.25rem;
  color: #9490ff;
  text-align: left;
  text-transform: uppercase;
  margin: 0 auto;
  max-width: 375px;
}

.work-folio {
  display: grid;
  max-width: 375px;
  margin: 0 auto;
  width: 100%;
}

.pro {
  max-width: 375px;
}

.placeholder {
  width: 100%;
  height: auto;
  margin-top: 1rem;
}

.br-header {
  margin: 2rem 0;
  font-size: 2rem;
  color: #fff;
}

.tech {
  display: flex;
  color: #fff;
}

.tech li {
  padding: 0.15rem 1.25rem;
  font-size: 0.94rem;
}

.tech li:nth-of-type(1) {
  padding: 0.15rem 1.25rem 0.15rem 0;
}

.tech li:nth-of-type(2) {
  border-left: 1px solid #555;
  border-right: 1px solid #555;
}

.tech li:nth-of-type(3) {
  border-right: 1px solid #555;
}

.view {
  margin: 1.4rem 0;
  padding: 12px;
  background: #7d73fc;
  border: none;
  color: #edecff;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.view:hover {
  background: #7d73fc;
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
  color: #fff;
}

.view:active {
  background: #5e42d7;
  color: #eaeaf6;
}

.view:disabled {
  background: #2a2b33;
  color: #c8c8d4;
}

#contact-section {
  margin-top: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-align {
  text-align: center;
}

.full {
  width: 100%;
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin: 14px 0;
  padding: 12px;
  border: none;
  accent-color: #5e42d7;
  color: #191765;
}

.full:focus {
  border-color: #5e42d7;
}

#textarea {
  height: 148px;
}

.email-tab {
  color: #c8c8d4;
}

.end-point {
  width: 40%;
  height: 6px;
  background: #000;
  border-radius: 10px;
}

.text:last-of-type {
  font-size: 1rem;
}

@media (min-width: 768px) {
  .header {
    width: 90%;
    margin: 0 auto 3rem;
  }

  .menu-icon {
    display: none;
  }

  .hide {
    display: inline-flex;
  }

  .nav-link {
    display: flex;
    align-items: center;
    gap: 2.5rem;
  }

  .link {
    display: inline-flex;
    gap: 2em;
  }

  .link a {
    font-size: 0.94rem;
  }

  .container {
    width: 90%;
  }

  .theme {
    font-size: 3.625rem;
    line-height: 6.56rem;
  }

  .sub-theme {
    font-size: 2rem;
    line-height: 2.75rem;
    color: #edecff;
    margin: 16px 0 50px 0;
  }

  .media {
    display: flex;
    margin-top: 100px;
  }

  .cursor {
    margin: 0;
  }

  .recent-works {
    text-align: left;
    max-width: 100%;
    margin: 150px 0 2rem;
    text-transform: none;
  }

  .contact-form > h2.recent-works {
    text-align: center;
    margin: 120px 0 2rem;
  }

  .work-folio {
    max-width: 100%;
  }

  .pro {
    max-width: 100%;
    display: flex;
    gap: 1.5rem;
    margin-bottom: 2rem;
    align-items: center;
  }

  .placeholder {
    max-height: 400px;
  }

  .briefs {
    max-width: 448px;
  }

  .one .briefs {
    margin-top: 6rem;
  }

  .two,
  .four {
    flex-direction: row-reverse;
  }

  #contact-section {
    max-width: 684px;
    margin: 0 auto;
  }

  .alt-del {
    display: none;
  }

  .email-tab {
    display: inline-flex;
    width: 100%;
    margin-left: -2.5rem;
  }

  .media-footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button[type=submit] {
    width: 160px;
    margin-top: 60px;
  }
}
